.project-update-container
{
    label{
        position: relative;
    }
    
    label.required:after { 
        color: #d00;
        content: "*";
        position: absolute;
        margin-left: 5px;
        top:-2px;
      }
    .row{
        margin-top: 20px;
        margin-bottom:20px;
    }
    a{
        cursor: pointer;
    }
}