

 <a (click)="goBack()"><<Back</a>

<div class="project-update-container" [formGroup]="updateForm">
    <mat-card class="d-flex flex-column col-md-10 col-sm-10 col-xs-11 mx-auto">
        <mat-card-header>
            <mat-card-title>Project Update</mat-card-title>
        </mat-card-header>
        <div class="" >


            <mat-card-content>
                <div class="row">
                    <div class="col-md-4 col-sm-5 col-xs-8">
                        <label class="required" for="projectId">Project Id</label>
                        <mat-form-field appearance="outline" style="width: 100%;" class="cat-form">
                            <mat-select name="projectId" class="form-select" formControlName="projectId"
                               >
                                <mat-option [value]="item.projectId" *ngFor="let item of projectIds">{{item.projectId}}</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="!updateForm.get('projectId').valid && updateForm.get('projectId').touched">
                                Enter valid Project Id
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
               
                <table class="table table-bordered" *ngIf="selectedProject">
                   
                    <thead>
                        <tr>
                            <th>Attribute</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Project Name</td>
                            <td>{{selectedProject.name}}</td>
                        </tr>
                        <tr>
                            <td>Project Description</td>
                            <td>{{selectedProject.description}}</td>
                        </tr>
                        <tr>
                            <td>Creation Date</td>
                            <td>{{selectedProject.creationDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </div>
    </mat-card>

    <mat-card class="d-flex flex-column col-md-10 col-sm-10 col-xs-11 mx-auto mt-4 mb-4" *ngIf="selectedProject">
        <mat-card-header>
            <mat-card-title>Create Transaction</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <label class="required" for="fromUserId">From</label>
                    <mat-form-field appearance="outline" style="width: 100%;" class="cat-form">
                        <mat-select name="fromUserId" class="form-select" formControlName="fromUserId" disabled="true">
                            <mat-option [value]="currentUser.id" checked>{{currentUser.userName}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="!updateForm.get('fromUserId').valid && updateForm.get('fromUserId').touched">
                            Enter valid from
                        </mat-error>
                    </mat-form-field>
    
                </div>
                <div class="col-md-6">
                    <label for="to">To</label>
                    <mat-form-field appearance="outline" style="width: 100%;" class="cat-form">
                        <mat-select name="toUserId" class="form-select" formControlName="toUserId">
                            <mat-option [value]="item.id"  *ngFor="let item of otherUsers;">{{item.userName}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="!updateForm.get('toUserId').valid && updateForm.get('toUserId').touched">
                            Enter valid to
                        </mat-error>
                    </mat-form-field>
    
                </div>
            </div>
            <div class="row">
                
                <div class="col-md">
                    <label for="description">Project Description</label>
                    <textarea type="text" name="description" class="form-control" formControlName="description"
                        placeholder="Description..."></textarea>
                    <mat-error *ngIf="!updateForm.get('description').valid && updateForm.get('description').touched">
                        Enter valid Description
                    </mat-error>
                </div>
                <div class="col-md">
                    <label for="remarks">Remarks</label>
                    <textarea type="text" name="remarks" class="form-control" formControlName="remarks"
                        placeholder="Remarks..." ></textarea>
                    <mat-error *ngIf="!updateForm.get('remarks').valid && updateForm.get('remarks').touched">
                        Enter valid remarks
                    </mat-error>
                </div>
            </div>
            <div class="row">
               
                <div class="col-md">
                    <label for="startDate">Project Start Date</label>
                    <input type="date" [min]="today" name="startDate" class="form-control" formControlName="startDate"
                        placeholder="Start Date..."/>
                    <mat-error *ngIf="!updateForm.get('startDate').valid && updateForm.get('startDate').touched">
                        Enter valid Start Date
                    </mat-error>
                </div>
                <div class="col-md">
                    <label for="endDate">Project End Date</label>
                    <input type="date" [min]="endMinLimit" name="endDate" class="form-control" formControlName="endDate"
                        placeholder="End Date..." />
                    <mat-error *ngIf="!updateForm.get('endDate').valid && updateForm.get('endDate').touched">
                        Enter valid End Date
                    </mat-error>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="status">Status</label>
                    <mat-form-field appearance="outline" style="width: 100%;" class="cat-form">
                        <mat-select name="status" class="form-select" formControlName="status">
                            <mat-option [value]="item"  *ngFor="let item of statusPossibilities;">{{item}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="!updateForm.get('status').valid && updateForm.get('status').touched">
                            Enter valid status
                        </mat-error>
                    </mat-form-field>
    
                </div>
                <div class="col-md">
                    <label class="required" for="noOfDaysToCompleteTheTask">No of days to complete the task</label>
                    <input type="number"  name="noOfDaysToCompleteTheTask" style="height: 50px;margin-top: 5px;" class="form-control" formControlName="noOfDaysToCompleteTheTask"
                        placeholder="No of days to complete the task..." />
                    <mat-error *ngIf="!updateForm.get('noOfDaysToCompleteTheTask').valid && updateForm.get('noOfDaysToCompleteTheTask').touched">
                        Enter valid no.
                    </mat-error>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center">
                <button class="btn btn-primary m-2" (click)="submitForm()" [disbaled]="!updateForm.valid">Save</button>
                <button class="btn btn-primary m-2" (click)="resetForm()">Reset</button>
            </div>
        </mat-card-content>
        
    </mat-card>
</div>