<div class="row signout-container d-flex flex-column align-items-center justify-content-center">

    <mat-card class="example-card col-md-6 col-sm-10 col-xs-11 mx-auto d-flex flex-column ">
            <mat-card-header>

                <mat-card-title>Singned out</mat-card-title>

            </mat-card-header>
            <mat-card-content>

                <p>You have successfully signed out.</p>

                <a routerLink="/auth/login">Click here to redirect to login</a>
              
            </mat-card-content>
           
       
    </mat-card>


</div>