<div class="header-container d-flex flex-row justify-content-between align-items-center flex-wrap">
    <div class="left-container">
        <h3>EKMC Tracker</h3>
    </div>
    <div class="right-container d-flex flex-row align-items-center">
        <div routerLinkActive="active" class="nav-option">
            <a routerLink="/home">
               
                <p>Home</p>
            </a>
           
        </div>
        <div routerLinkActive="active" class="nav-option">
            <a routerLink="/projects">
               
                <p>Projects</p>
            </a>
           
        </div>
        <div routerLinkActive="active" class="nav-option">
            <a routerLink="/auth/signout">
               
                <p>Sign Out</p>
            </a>
           
        </div>
        <!-- <a (click)="signOut()">SignOut</a> -->
    </div>


</div>