.header-container{
    width:"100%";
    padding: 5px 10px;
    background-color: violet;
    color: white;
    a{
        cursor: pointer;
    }
    .right-container{
        .nav-option
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
          
            min-width: 30px;
            margin: 10px 10px;
            a {
                text-decoration: none;
                color: white;
                position: relative;
              
                .badge{
                    position: absolute;
                }
               
            }
            
            p {
                color: white;
                padding: 0px;
                margin: 0px;
                font-size: 15px;
            }
        }
        
        .nav-option:hover {
            border-bottom: 2px solid white;
        }
       
        
    }
    .active {
        border-bottom: 2px solid white;
    }

    
}
