<div class="row login-container d-flex flex-column align-items-center justify-content-center">

    <mat-card class="example-card col-md-4 col-sm-10 col-xs-11 mx-auto d-flex flex-column ">
        <form [formGroup]="loginForm" class="form-group" (ngSubmit)="onLogin()">
            <mat-card-header>

                <mat-card-title>Login Form</mat-card-title>

            </mat-card-header>
            <mat-card-content>

                <div class="form-group">
                    <label class="required" for="emailId">Email Id</label>
                    <input name="emailId" type="email" class="form-control" placeholder="Email Id..." formControlName="emailId" />
                    <mat-error *ngIf="!loginForm.get('emailId').valid && loginForm.get('emailId').touched">
                        Enter valid Email id
                    </mat-error>

                </div>
                <div class="form-group">
                    <label class="required" for="password">Password</label>
                    <input name="password" type="password" class="form-control" placeholder="Password..." formControlName="password" />
                    <mat-error *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                        Enter valid password
                    </mat-error>
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <a (click)="routeToRegister()">Register</a>
                </div>
            </mat-card-content>
            <mat-card-actions class="d-flex flex-row justify-content-center">

                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Submit</button>
                <button mat-raised-button color="primary" type="reset" (click)="resetForm()">Reset</button>
            </mat-card-actions>
        </form>

    </mat-card>


</div>