.login-container
{
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    a{
        text-decoration: underline;
        color: blue;
        text-decoration-color:blue ;
        cursor: pointer;
    }
    label{
        position: relative;
    }
    label.required:after { 
        color: #d00;
        content: "*";
        position: absolute;
        margin-left: 5px;
        top:-2px;
      }
}