
<!-- 
 projectId: new FormControl(null),
 fromUserId:new FormControl(user.id,[Validators.required]),
 toUserId:new FormControl(null),
 description: new FormControl(null),
 remarks:new FormControl(null),
 startDate:new FormControl(null),
 endDate:new FormControl(null),
 status:new FormControl(null),
 noOfDaysToCompleteTheTask:new FormControl(null,Validators.required) -->

 <a (click)="goBack()"><<Back</a>
<div class="project-details-container">

    <mat-card class="d-flex flex-column " style="overflow: auto;"> 
        <mat-card-header>

            <mat-card-title>Transaction Details</mat-card-title>

        </mat-card-header>
        <mat-card-content *ngIf="!loading">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Project Id</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Description</th>
                        <th>Remarks</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th>No of Days to complete</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor ="let item of transactionDetails" >
                        <td>{{item.projectId}}</td>
                        <td>{{item.fromUserDetails.userName}}</td>
                        <td>{{item.toUserDetails.userName}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.remarks}}</td>
                        <td>{{item.startDate}}</td>
                        <td>{{item.endDate}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.noOfDaysToCompleteTheTask}}</td>
                        <td>{{item.createdAt}}</td>
                    </tr>
                </tbody>
            </table>
        </mat-card-content>

    </mat-card>
</div>