<div class="d-flex flex-row justify-content-between m-3">
    <button class="btn btn-primary" color="primary" (click)="routeToUpdateProject()">Update Project</button>
    <button class="btn btn-primary" color="primary" (click)="routeToAddProject()">Add Project</button>
</div>

<mat-card class="all-project-container d-flex flex-column col-md-9 col-sm-10 col-xs-11 mx-auto">
    <mat-card-header>

        <mat-card-title>Projects</mat-card-title>

    </mat-card-header>
    <mat-card-content>
        <table class="table" *ngIf="!loading">
            <thead>
                <tr>
                    <th>Project Id</th>
                    <th>E Office Project Id</th>
                    <th>Project Name</th>
                    <th>Description</th>
                    <th>Estimate</th>
                    <th>Assigned To</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of projects" (click)="routeToProjectDetails(item)">
                    <td>{{item.projectId}}</td>
                    <td>{{item.eOfficeProjectId}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.projectEstimate}}</td>
                    <td>{{item.userName}}</td>
                </tr>
            </tbody>

        </table>
        <div class="d-flex flex-row justify-content-center" *ngIf="loading">
            <mat-spinner  [diameter]="50"></mat-spinner>
        </div>
        
    </mat-card-content>

</mat-card>