.add-project-container{
    mat-error{
        color: red;
    }
    .row{
        margin: 20px 0px;
    }
    label{
        position: relative;
    }
    
    label.required:after { 
        color: #d00;
        content: "*";
        position: absolute;
        margin-left: 5px;
        top:-2px;
      }
    select{
        display: block;
        width: 100%;
        padding: 2px;
    }
    
}
a{
    font-size: 15px;
    color: lightgrey;
    cursor: pointer;
}