
<a (click)="goBack()"><<Back</a>
<mat-card class="add-project-container d-flex flex-column col-md-9 col-sm-10 col-xs-11 mx-auto">

    <h2>Add Project</h2>

    <div class="form-container form-group" [formGroup]="projectForm" *ngIf="!loading">


        <div class="row">
            <div class="col-md">
                <label class="required" for="projectId">Project Id</label>
                <input type="text" name="projectId" class="form-control" formControlName="projectId"
                    placeholder="Project Id..." />
                <mat-error *ngIf="!projectForm.get('projectId').valid && projectForm.get('projectId').touched">
                    Enter valid project Id
                </mat-error>
            </div>
            <div class="col-md">
                <label class="required" for="projectId">E Office Project Id</label>
                <input type="text" name="eOfficeProjectId" class="form-control" formControlName="eOfficeProjectId"
                    placeholder="E Office Project Id..." />
                <mat-error
                    *ngIf="!projectForm.get('eOfficeProjectId').valid && projectForm.get('eOfficeProjectId').touched">
                    Enter valid E Office Project Id
                </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="required" for="name">Project Name</label>
                <input type="text" name="name" class="form-control" formControlName="name"
                    placeholder="Project Name..." />
                <mat-error *ngIf="!projectForm.get('name').valid && projectForm.get('name').touched">
                    Enter valid Project Name
                </mat-error>
            </div>
            <div class="col-md">
                <label class="required" for="description">Project Description</label>
                <textarea type="text" name="description" class="form-control" formControlName="description"
                    placeholder="Description..."></textarea>
                <mat-error *ngIf="!projectForm.get('description').valid && projectForm.get('description').touched">
                    Enter valid Description
                </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label class="required" for="creationDate">Creation Date</label>
                <input type="date" [min]="today" name="creationDate" class="form-control" formControlName="creationDate"
                    placeholder="Creation Date..." />
                <mat-error *ngIf="!projectForm.get('creationDate').valid && projectForm.get('creationDate').touched">
                    Enter valid Creation Date
                </mat-error>
            </div>
            <div class="col-md">
                <label for="startDate">Project Start Date</label>
                <input type="date" [min]="today" name="startDate" class="form-control" formControlName="description"
                    placeholder="Start Date..."/>
                <mat-error *ngIf="!projectForm.get('startDate').valid && projectForm.get('startDate').touched">
                    Enter valid Start Date
                </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label for="estimatedEndDate">Project Estimated End Date</label>
                <input type="date" [min]="today" name="estimatedEndDate" class="form-control" formControlName="estimatedEndDate"
                    placeholder="Estimated End Date..." />
                <mat-error
                    *ngIf="!projectForm.get('estimatedEndDate').valid && projectForm.get('estimatedEndDate').touched">
                    Enter valid Estimated end date
                </mat-error>
            </div>
            <div class="col-md">
                <label for="projectEstimate">Project Estimate</label>
                <input type="number" name="projectEstimate" class="form-control" formControlName="projectEstimate"
                    placeholder="Project Estimate..." />
                <mat-error
                    *ngIf="!projectForm.get('projectEstimate').valid && projectForm.get('projectEstimate').touched">
                    Enter valid project estimate
                </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label class="required" for="assignedTo">Assigned to</label>
                <mat-form-field appearance="outline" style="width: 100%;" class="cat-form">
                    <mat-select name="assignedTo" class="form-select" formControlName="assignedTo" disabled="true">
                        <mat-option [value]="currentUser.id" checked>{{currentUser.userName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!projectForm.get('assignedTo').valid && projectForm.get('assignedTo').touched">
                        Enter valid assigned to
                    </mat-error>
                </mat-form-field>

            </div>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <button class="btn btn-primary m-2" (click)="submitForm()" [disbaled]="!projectForm.valid">Save</button>
            <button class="btn btn-primary m-2" (click)="resetForm()">Reset</button>
        </div>
    </div>

</mat-card>