<div class="row registration-container d-flex flex-column align-items-center justify-content-center">

    <mat-card class="example-card col-md-6 col-sm-10 col-xs-11 mx-auto d-flex flex-column ">
        <form [formGroup]="regForm" class="form-group" (ngSubmit)="onRegister()">
            <mat-card-header>

                <mat-card-title>Registration Form</mat-card-title>

            </mat-card-header>
            <mat-card-content>

                <div class="form-group">
                    <label class="required" for="emailId">Email Id</label>
                    <input name="emailId" type="email" class="form-control" placeholder="Email Id..." formControlName="emailId" />
                    <mat-error *ngIf="!regForm.get('emailId').valid && regForm.get('emailId').touched">
                        Enter valid Email id
                    </mat-error>

                </div>
                <div class="form-group">
                    <label class="required" for="userName">User Name</label>
                    <input name="userName" type="text" class="form-control" placeholder="User Name..." formControlName="userName" />
                    <mat-error *ngIf="!regForm.get('userName').valid && regForm.get('userName').touched">
                        Enter valid user name
                    </mat-error>

                </div>
                <div class="form-group">
                    <label class="required" for="password">Password</label>
                    <input name="password" type="password" class="form-control" placeholder="Password..." formControlName="password" />
                    <mat-error *ngIf="!regForm.get('password').valid && regForm.get('password').touched">
                        Enter valid password
                    </mat-error>
                </div>
                <div class="form-group">
                    <label class="required" for="confirmPassword">Confirm Password</label>
                    <input name="confirmPassword" type="password" class="form-control" placeholder="Confirm Password..."
                        formControlName="confirmPassword" />
                    <mat-error *ngIf="!regForm.get('confirmPassword').valid && regForm.get('confirmPassword').touched">
                        Passwords must match
                    </mat-error>
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <a (click)="routeToLogin()">Login</a>
                </div>


            </mat-card-content>
            <mat-card-actions class="d-flex flex-row justify-content-center">

                <button mat-raised-button color="primary" type="submit" [disabled]="!regForm.valid">Submit</button>
                <button mat-raised-button color="primary" type="reset" (click)="resetForm()">Reset</button>
            </mat-card-actions>
        </form>
    </mat-card>


</div>